<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UserProject</display-name>
  <servlet>
  <servlet-name>UserServlet</servlet-name>
  <servlet-class>fr.dta.poei.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>userJsp</servlet-name>
  <jsp-file>/META-INF/jsps/userJsp.jsp</jsp-file>
  </servlet>  
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>fr.dta.poei.servlets.LoginServlet</servlet-class>
  </servlet> 
  <servlet>
  <servlet-name>EditUserServlet</servlet-name>
  <servlet-class>fr.dta.poei.servlets.EditUserServlet</servlet-class>
  </servlet>  
  <servlet>
  <servlet-name>IndexServlet</servlet-name>
  <servlet-class>fr.dta.poei.servlets.IndexServlet</servlet-class>
  </servlet>  
  <servlet>
  <servlet-name>AddUserServlet</servlet-name>
  <servlet-class>fr.dta.poei.servlets.AddUserServlet</servlet-class>
  </servlet>  
  <servlet>
  <servlet-name>login</servlet-name>
  <jsp-file>/META-INF/jsps/login.jsp</jsp-file>
  </servlet> 
  <servlet>
  <servlet-name>formUser</servlet-name>
  <jsp-file>/META-INF/jsps/formUser.jsp</jsp-file>
  </servlet> 
  <servlet>
  <servlet-name>index</servlet-name>
  <jsp-file>/META-INF/jsps/index.jsp</jsp-file>
  </servlet>
  <servlet>
  <servlet-name>userProfil</servlet-name>
  <jsp-file>/META-INF/jsps/userProfil.jsp</jsp-file>
  </servlet>
  <servlet>
  <servlet-name>addUser</servlet-name>
  <jsp-file>/META-INF/jsps/addUser.jsp</jsp-file>
  </servlet> 
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>EditUserServlet</servlet-name>
  <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>UserServlet</servlet-name>
  <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>IndexServlet</servlet-name>
  <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>AddUserServlet</servlet-name>
  <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping> 
  <session-config>
  <cookie-config>
  <max-age>45</max-age>
  	<comment>Hey this is my app session cookie</comment>
	<name>REALJSESSIONID</name>
  </cookie-config>
  <session-timeout>60</session-timeout>
  </session-config>
  </web-app>